# {{ title }}

## Rule

{{ rule }}

## DO

```{{ language | default("text") }}
{{ do_example }}
```

## DON'T

```{{ language | default("text") }}
{{ dont_example }}
```

## Exceptions

{{ exceptions | default("None recorded.") }}
