name: Garbage Collection
on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  gc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@{{ checkout_sha }} # {{ checkout_version }}
      {% if setup_action %}- uses: {{ setup_action }}
      {% endif %}- run: {{ install_command }}
      - run: {{ gc_command }}
