{
  "version": 1,
  "project": {{ project_name | tojson }},
  "harness_workflow": {
    "entry": {{ entry_file | tojson }},
    "recovery_surface": {{ recovery_surface | tojson }},
    "verification_command": {{ verification_command | tojson }}
  }
}
